/*------------------------------------*\
  $CONTENT
\*------------------------------------*/


/**
 * IMPORTS..................Import dependencies SASS
 * VARIABLES................Variables globals for SASS
 * FONT_FACE................Include font-face
 * ICONS_FONT...............Icons for fonts
 * ICONS....................SVG's imported to SASS
 * SPRITES..................Images sprites
 * BASIC_STYLES.............Basics styles
 * CORE_STYLE...............Styles para Core.js components
 * MASTER_PAGE..............Styles for master page
 * PARTIALS.................Styles for partials html
 * SECTIONS.................Styles for sections site
 * RESPONSIVE...............Styles for mobile
 */


/*------------------------------------*\
  $IMPORTS
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import '_normalize';
@import '_animate';
@import '_slick';
@import '_slick-theme';

/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/

$font: "Lato", sans-serif; 
$font2: 'Source Sans Pro', sans-serif; 
$color: #06359e;
$color2: #3d3d3f;
$verde: #7dce94;

/*------------------------------------*\
  $FONT_FACE
\*------------------------------------*/


/*@font-face {
  font-family: 'cochinregular';
  src: url('../font/cochin-webfont.woff2') format('woff2'), url('../font/cochin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}*/

/*@mixin font-gen {
  font-family: $font-stack;
  color: $color-stack;
  font-weight: bold;
}*/


/*------------------------------------*\
  $BASIC_STYLES
\*------------------------------------*/

body {
  font-family: $font;
  background: white;
  min-height: 100vh;
  font-size: 16px;
}

p{ 
  font-family: $font2;
  font-size: 18px;
  color: $color2;
}

main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.fondo{  
  position: absolute;
  width: 50%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: #f6f5f3;
  .fondo-interior{  
    background: white;
    position: absolute;
    right: -30%;
    transform: skew(20deg);
    height: 100%;
    width: 60%;
  }
}

.ico-menu{
  width: 24px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  .linea{ 
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
  }
}

.content-general {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  align-items: flex-start;
}

.content-audi {
  width: 50%;

  .botones{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    max-width: 80px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    a{
      cursor: pointer;
      width: 35px;
      height: auto;
      display: block;
      transition: 0.5s;
      &:hover{
        transform: scale(1.1);
      }
      img{
        width: 100%;
      }
    }
    .next{
      align-self: flex-end;
    } 
  }

  img {
    width: 100%;
  }

  .audi-dos {
    display: none;
  }

  .content-mini {
    position: absolute;
    bottom: 0;
    left: 0;
    .mini-dos,
    .mini {
      width: 52px;
      height: 52px;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.39);
      /*border: solid 1px #635b55;*/
      background-color: #ffffff;
      border-radius: 30px;
      margin: 22px 0;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 40px;
      }
    }
  }
}


.content-audi-dos {
  width: 50%;
  display: none;
  padding-bottom: 40px; 

  .audi-uno {
    width: 100%;
  }

  .titu {
    font-size: 14px;
    color: #4a4a4a;
  }

  .descrip {
    font-size: 26px;
    color: $color2;
    margin: 0;
    font-weight: 300;
  }

  .color {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color2;
    width: 40%;
    padding-bottom: 10px;
    margin-top: 10px;

    div {
      width: 40px;
      height: 40px;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
      border: solid 1px #635b55;
      background-color: #ffffff;
      border-radius: 20px;
      display: flex;
      align-items: center;
      margin-left: 16px;

      img {
        margin: 0 auto;
        width: 40px;
      }
    }
  }

  .valor {
    font-size: 16px;
    color: $color2;
    margin: 0;
    margin-top: 13px;
  }

  .precio {
    font-size: 36px;
    color: $verde;
    margin: 0px;

  }
}

.content-textos {
  width: 50%;

  /*display: none;*/

  .titu {
    font-size: 18px;
    color: #4a4a4a;
    font-weight: bold;
    opacity: 0.4;
  }

  .descrip {
    font-size: 36px;
    color: $color2;
    margin: 0;
    font-weight: lighter;
  }

  .precio {
    font-size: 36px;
    color: $verde;
    font-weight: bold;
    margin: 0;
    margin-bottom: 45px;
    -webkit-text-stroke: 1px;
  }

  .content-taps {
    display: flex;

    .taps-descrip {
      font-size: 22px;
      color: $color2;
      cursor: pointer;
      margin-right: 87px;
    }

    .taps-especi {
      font-size: 22px;
      color: $color2;
      cursor: pointer;
    }

    .tabs {
      .linea {
        width: 0px;
        height: 2px;
        background: $verde;
        margin-top: 5px;
        transition: 0.5s;
      }
    }

    .tabs.active {
      font-weight: bold;

      .linea {
        width: 50%;
      }
    }
  }

  .div-descrip {

    .div-img {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .incluido {
        color: $color2;
        font-weight: bold;
        font-size: 18px;
      }

      img {
        width: 31px;
        height: 29px;
      }
    }
  }

  .div-descrip-dos {
    display: none;

    .item {
      display: flex;
      align-items: center;
      box-sizing: border-box;

      .img {
        width: 36px;
        text-align: center;
      }

      p {
        margin-left: 10px;
      }
    }
  }
}

.btn {
  width: 203px;
  height: 52px;
  border-radius: 26px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  background-color: $verde;
  margin-top: 30px;
  border: 0;

  a {
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
  }
}

.content-tarjeta {
  width: 50%;
  display: none;

  .detalle {
    color: $verde;
    font-weight: bold;

    a {
      cursor: pointer;
      img{
        margin-right: 10px;
      }
    }
  }

  .circulos {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    align-items: center;

    .ciculo-uno {
      width: 50%;
      .numero {}
      .chulo{
        padding: 10px;
        margin: 0;
        color: white;
        background: #7dce94;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 16px;
        }
      }

      .txt {
        font-size: 14px;
        font-weight: bold;
        color: $verde;
        text-align: center;
      }
    }

    .linea{
      margin-top: -44px;
      width: 50%;
    }

    .ciculo-dos {
      width: 50%;
      .numero {}

      .txt {
        font-size: 14px;
        font-weight: bold;
        color: $verde;
        text-align: center;
      }
    }
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    color: $color2;
    text-align: center;
  }
  .linea{
    width: 15%;
    height: 2px;
    background: $verde;
    margin-top: 5px;
    transition: 0.5s;
    margin: 0 auto;
    margin-top: -14px;
  }

  .campos-uno {
    p {
      font-size: 16px;
      font-weight: bold;
      color: $verde;
      margin: 16px 0px;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: solid 1.5px #9b9b9b;
      opacity: 0.4;
      font-size: 18px;
      box-sizing: border-box;
    }
  }

  .campos-dos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      width: 47%;

      p {
        font-size: 16px;
        font-weight: bold;
        color: $verde;
        margin: 16px 0px;
      }

      input {
        width: 100%;
        border: none;
        border-bottom: solid 2px #9b9b9b;
        opacity: 0.4;
        font-size: 18px;
        box-sizing: border-box;
      }
    }

    .content-tarjeta {
      display: flex;
      align-items: center;
      width: 100%;

      .pregunta { 
        margin-left: 8px;
        background-color: $verde;
        color: #ffffff;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        a {
          font-size: 12px;
        }
        &:after{ 
          content: '';
          background-image: url("../images/tarjeta.png");
          bottom: 0;
          position: absolute;
          width: 249px;
          height: 149px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          display: none; 
        }
        &:hover{
          &:after{
            display: block;
          }
        }
      }
    }
  }

  .btn-global { 
    display: flex;
    justify-content: space-around;

    .cancelar {
      background-color: transparent;
      border: solid 1.5px $verde;

      a {
        color: $verde;
      }
    }
  }

  .formu-dos {
    display: none;

    select {
      width: 100%;
      border: none;
      border-bottom: solid 2px #9b9b9b;
      opacity: 0.4;
      font-size: 18px;
      box-sizing: border-box;
    }
  }
}

.slick-dots{
  display:none !important;
}

.number{
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $verde;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 0 auto;
  p{ 
    padding: 10px;
    margin: 0;
    color: white;
    background: $verde;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pop-up{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  z-index: 9;
  .content-pop{
    background-color: white;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 380px;
    height: 357px;
    margin: 10% auto 0 auto;
    position: relative;
    padding-top: 4px;
    .content-img{
      text-align: center;
      position: relative;
      margin-top: -110px; 
      img{
        width: 275px;
        height: 275px;
      }
    }
    .equis{
      position: absolute;
      right: 11px;
      top: -24px;
      background-color: #bdbdbd;
      font-size: 40px;
      border-radius: 40px;
      width: 50px;
      text-align: center;
      z-index: 9;
      cursor: pointer;
      a{
        color: white;
        font-family: $font;
      }
    }
    p{
      font-size: 22px;
      font-weight: bold;
      color: #3d3d3f;
      text-align: center;
      margin: 0;
    }
    .aceptar{
      width: 203px;
      height: 52px;
      border-radius: 26px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
      background-color: $verde;
      margin-top: 30px;
      border: 0;
      margin: 0 auto;
      display: block;
      margin-top: 20px;
      a {
        font-size: 22px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}


/*------------------------------------*\
  $RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 1000px) {}

@media only screen and (max-width: 800px) { 
  .slick-dots{
    display:block;
  }
  .content-general {
    width: 90%;
    margin: auto;
  }

  .content-audi {
    width: 100%;
    margin:auto;

    .botones{
      display: none;
    }

    .content-mini {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }
  }
  .content-textos .content-taps{
    flex-wrap: wrap;
    .tabs{
      margin-bottom: 10px; 
    }
  }

  .content-textos {
    width: 100%;

    .descrip {
      font-size: 28px;
    }
    .div-descrip{
      .div-img{
        display: block;
      }
    }
  }

  button {
    width: 90%;
    margin: 20px auto;
    display: block;
  }

  .content-audi-dos {
    width: 100%;
    padding-bottom: 0px;
  }

  .content-tarjeta {
    width: 100%;
    margin: 0 auto;

    .campos-dos {
      display: block;

      div {
        width: 100%;
      }
    }

    .btn {
      display: block;
      width: 100%;
    }
    .detalle{
      display: none;
    }
    .btn-global{
      display: block;
    }
  }
  .fondo{
    height: 38%;
    width: 100%;
  }
  main{
    padding-top: 40px;
  }
  .pop-up{
    .content-pop{
      width: 350px;
      bottom: -200px;
    }
  } 
}

@media only screen and (max-width: 700px) {}